body {
	max-width: 1400px;
	margin: 0 auto;
	height: 100vh;
}

header {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1em 1em 0;

	nav {
		justify-self: center;
		// flex: 1;
		// min-width: 30vw;
		width: 80%;
		max-width: 50vw;
		justify-content: center;

		ul {
			display: flex;
			flex-direction: row;
			// gap: 2em;
			// flex: 1;

			justify-content: space-around;

			// padding: 0 2em;
			li {
				// flex: 2;
			}
		}
	}

}