body {
	min-height: 100vh;
}

header {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1em 1em 0;

	nav {
		justify-self: center;
		width: 100%;
		justify-content: center;
	}
}

.hlekkir {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

a {
	margin: 0.5em;
	color: inherit;
	text-decoration: none;
	border: 1px $bc solid;
	padding: 0.25em 1em;
	border-radius: 1em;
}

footer {
	padding: 1em;
	margin: 0 auto;
	max-width: 800px;
}