$tap: #FF6961;
$vann: #7D7;
$jafn: #FCF4A3;
$vannborder: #058743;
$tapborder: #ED2939;
$black: #000;
$top: 10;
$white: #fff;

.leikir {
	&__dagsetning {
		position: relative;
		width: 100vw;
		text-align: center;
		font-size: 2em;
		border-top: $black 2px solid;
		border-bottom-width: 50%;
		padding: 0.5em;
		z-index: $top;
		filter: drop-shadow(0 10px 10px $white);
		background-color: $white;
		margin: 0 auto;

	}

	&__leikirnir {
		max-width: 1440px;
		margin: 0 auto;
	}

	&__lid {
		height: fit-content;
		display: grid;
		grid-template-columns: 1fr 1fr;
		$higlight: $black;
		filter: drop-shadow(10px 30px 50px $black);
	}
}

.lid {
	&:nth-child(even) {
		.jafn {
			background: linear-gradient(145deg, $jafn, $white);
			border-right: $jafn 2px solid;
		}

		.vann {
			background: linear-gradient(145deg, $vann, $white);
			border-right: $vannborder 2px solid;
		}

		.tap {
			background: linear-gradient(145deg, $tap, $white);
			border-right: $tapborder 2px solid;
		}

		div {
			grid-template-columns: 1fr 2fr;

			div {
				padding: 0;
				max-width: fit-content;
				max-height: fit-content;
			}

			.teamname {
				grid-column-end: span 2;
				text-align: end;

				&__skorudu {
					grid-column-start: 1;
					justify-self: start;
				}

				&__skor {
					grid-column-start: 1;
					font-size: 5em;
					max-height: 1em;
					margin: 0;
					padding: 0;
					justify-self: start;
				}

				&__stig {
					grid-column-start: 1;
					justify-self: start;
					padding: 0 0 0 0.5em;
				}

				&__vollur {
					justify-self: end;
				}
			}

		}
	}

	&:nth-child(odd) {
		.jafn {
			background: linear-gradient(-145deg, $jafn, $white);
			border-left: $jafn 2px solid;
		}

		.vann {
			background: linear-gradient(-145deg, $vann, $white);
			border-left: $vannborder 2px solid;
		}

		.tap {
			background: linear-gradient(-145deg, $tap, $white);
			border-left: $tapborder 2px solid;
		}

		div {
			grid-template-columns: 2fr 1fr;

			div {
				padding: 0;
				max-width: fit-content;
				max-height: fit-content;
			}

			.teamname {
				&__skorudu {
					grid-column: 2;
					justify-self: end;
				}

				&__skor {
					grid-column-start: 2;
					font-size: 5em;
					max-height: 1em;
					margin: 0;
					padding: 0;
					justify-self: end;
				}

				&__stig {
					grid-column-start: 2;
					justify-self: end;
					padding: 0 0.5em 0 0;
				}
			}

		}
	}
}

li {
	div {
		border-radius: 1em;
		padding: 1em;
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 2em 2em 1fr 2em;

		div {
			display: block;
		}
	}
}

.teamname {
	font-size: 2em;
	grid-row: 1;
	grid-column-end: span 2;

	&__skorudu {
		grid-row: 2;
	}

	&__skor {
		grid-row: 3;
		font-size: 5em;
		max-height: 1em;
		margin: 0;
		padding: 0;
	}

	&__stig {
		grid-row: 4;
		text-align: center;
		padding: 0 0.5em 0 0;
	}

	&__vollur {
		grid-row-start: 2;
		grid-row-end: span 3;
		align-self: end;
	}
}

@media (max-width: 400px) {
	.teamname {
		&__skorudu {
			display: none;
		}
	}
}

footer {
	a {
		position: relative;
		z-index: 1000;
	}
}